.container {
    background-color: #b0b0b093;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 5px;
}

input {
    border-radius: 5px;
    border-color: transparent;
    padding: 5px; 
    margin-bottom: 5px;
    font-family: cursive;
    font-size: x-large;
}